.dark-mode {
    background-color: darken($grisOscuro, 10);
    p {
        color: $blanco;
    }
    a, h1, h2, h3, h4 {
        color: $gris;
    }
    .anuncio {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }
    }
    .texto-nosotros blockquote {
        color: $blanco;
    }
    .contenido-anuncio, .resumen-propiedad {
        img {
            filter: invert(50%);
        }
    }
    .formulario {
        legend,
        label,
        p {
            color: $gris;
        }
        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }
    li, ol { 
        color: $blanco;
    }
    .resumen-propiedad {
        text {
            color: $gris;
        }
    }
    table.propiedades {
        tbody {
            td {
                color: $blanco;
            }
        }
    }
}
